services:
  app:
    container_name: catalog-service
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT}"
    environment:
      ACTIVE_PROFILE: ${ACTIVE_PROFILE}
      SERVER_PORT: ${CONTAINER_PORT}
      HOST_PORT: ${HOST_PORT}